absl-py
antlr4-python3-runtime
astor
attrs
backcall
bitarray
blis
catalogue
certifi
cffi
charset-normalizer
click
colorama
confection
cryptography
cycler
cymem
Cython
debugpy
decorator
editdistpy
entrypoints
fastjsonschema
filelock
fonttools
gast
google-pasta
grpcio
h5py
huggingface-hub
hydra-core
idna
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
Keras-Applications
Keras-Preprocessing
kiwisolver
langcodes
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
murmurhash
nbformat
nest-asyncio
nltk
numpy
omegaconf
opt-einsum
packaging
pandas
parso
pathy
pickleshare
Pillow
pkgutil_resolve_name
plotly
portalocker
preshed
prompt-toolkit
protobuf
psutil
pycparser
pydantic
Pygments
pyOpenSSL
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
sacrebleu
scikit-learn
scipy
sentence-transformers
sentencepiece
six
sklearn
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
symspellpy
tabulate
tenacity
tensorboard
tensorboardX
tensorflow
tensorflow-estimator
tensorflow-hub
termcolor
thinc
threadpoolctl
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
typing_extensions
urllib3
wasabi
wcwidth
Werkzeug
wrapt
zipp
