absl-py
antlr4-python3-runtime
anyio
argon2-cffi
argon2-cffi-bindings
astor
attrs
backcall
beautifulsoup4
bitarray
bleach
blis
catalogue
certifi
cffi
charset-normalizer
click
colorama
confection
cryptography
cycler
cymem
Cython
debugpy
decorator
defusedxml
editdistpy
entrypoints
fastjsonschema
filelock
fonttools
gast
gensim
google-pasta
grpcio
h5py
huggingface-hub
hydra-core
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
Keras-Applications
Keras-Preprocessing
kiwisolver
langcodes
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
murmurhash
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numpy
omegaconf
opt-einsum
packaging
pandas
pandocfilters
parso
pathy
pexpect
pickleshare
Pillow
pkgutil_resolve_name
plotly
portalocker
preshed
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pycparser
pydantic
Pygments
pyOpenSSL
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
sacrebleu
scikit-learn
scipy
Send2Trash
sentence-transformers
sentencepiece
six
scikit-learn
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
symspellpy
tabulate
tenacity
tensorboard
tensorboardX
tensorflow
tensorflow-estimator
tensorflow-hub
termcolor
terminado
thinc
threadpoolctl
tinycss2
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
typing_extensions
urllib3
wasabi
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
zipp
